# Data Cleaning

In [1]:
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
test = pd.read_parquet(r'C:\Users\ReinisFals\OneDrive - Peero, SIA\Desktop\stat_arb_research\stat_arb_research\data\A_MERGEABLE\AAVE\AAVEUSDT-1m-2020-10.parquet')
test

,1602730800000,51.43000000,59.00000000,50.66600000,55.60700000,1369.48100000,1602730859999,75607.77901300,361,898.43400000,50012.70048000,0
0,1602730860000,55.603,55.623,52.000,52.845,1120.278,1602730919999,59696.689968,178,658.949,35330.288555,0
1,1602730920000,52.845,52.846,51.283,51.999,466.672,1602730979999,24288.122840,94,185.675,9659.760008,0
2,1602730980000,51.999,52.000,50.665,51.736,205.109,1602731039999,10594.203061,68,78.099,4043.744534,0
3,1602731040000,51.742,51.776,51.500,51.632,310.324,1602731099999,16011.251406,44,174.396,9004.233218,0
4,1602731100000,51.641,51.737,51.579,51.640,231.521,1602731159999,11956.518642,46,211.730,10934.621030,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24294,1604188500000,29.754,29.754,29.754,29.754,0.000,1604188559999,0.000000,0,0.000,0.000000,0
24295,1604188560000,29.754,29.754,29.754,29.754,0.000,1604188619999,0.000000,0,0.000,0.000000,0
24296,1604188620000,29.700,29.700,29.700,29.700,1.000,1604188679999,29.700000,1,1.000,29.700000,0
24297,1604188680000,29.700,29.700,29.700,29.700,0.000,1604188739999,0.000000,0,0.000,0.000000,0
24298,1604188740000,29.700,29.700,29.700,29.700,0.000,1604188799999,0.000000,0,0.000,0.000000,0

## Set Headers

In [26]:
# Define the desired headers
desired_headers = ['open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time',
                   'quote_asset_volume', 'count', 'taker_buy_base_asset_volume',
                   'taker_buy_quote_asset_volume', 'ignore']

# Function to process a single parquet file
def process_parquet_file(file_path):
    # Read the parquet file
    df = pd.read_parquet(file_path)
    
    # Get the existing headers from the values in the first row
    existing_headers = df.columns.tolist()
    
    # Add the existing headers as a row at the beginning of the DataFrame
    df.loc[-1] = existing_headers
    df.index = df.index + 1
    df.sort_index(inplace=True)
    
    # Set the desired headers
    df.columns = desired_headers
    
    # Convert columns to strings
    df = df.astype(str)
    
    # Save the modified DataFrame back to the parquet file
    df.to_parquet(file_path)

# Function to process all parquet files in a folder and its subfolders
def process_folder(folder_path):
    for root, _, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.parquet'):
                file_path = os.path.join(root, file)
                process_parquet_file(file_path)

In [27]:
# Specify the path to the main folder containing the subfolders and parquet files
folder_path = 'C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/'

In [28]:
# Call the function to process the main folder
process_folder(folder_path)

In [29]:
test = pd.read_parquet(r'C:\Users\ReinisFals\OneDrive - Peero, SIA\Desktop\stat_arb_research\stat_arb_research\data\A_MERGEABLE\AAVE\AAVEUSDT-1m-2020-10.parquet')
test

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,count,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1602730800000,51.43000000,59.00000000,50.66600000,55.60700000,1369.48100000,1602730859999,75607.77901300,361,898.43400000,50012.70048000,0
1,1602730860000,55.603,55.623,52.0,52.845,1120.278,1602730919999,59696.689968,178,658.949,35330.288555,0
2,1602730920000,52.845,52.846,51.283,51.999,466.672,1602730979999,24288.12284,94,185.675,9659.760008,0
3,1602730980000,51.999,52.0,50.665,51.736,205.109,1602731039999,10594.203061,68,78.099,4043.744534,0
4,1602731040000,51.742,51.776,51.5,51.632,310.324,1602731099999,16011.251406,44,174.396,9004.233218,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24295,1604188500000,29.754,29.754,29.754,29.754,0.0,1604188559999,0.0,0,0.0,0.0,0
24296,1604188560000,29.754,29.754,29.754,29.754,0.0,1604188619999,0.0,0,0.0,0.0,0
24297,1604188620000,29.7,29.7,29.7,29.7,1.0,1604188679999,29.7,1,1.0,29.7,0
24298,1604188680000,29.7,29.7,29.7,29.7,0.0,1604188739999,0.0,0,0.0,0.0,0
24299,1604188740000,29.7,29.7,29.7,29.7,0.0,1604188799999,0.0,0,0.0,0.0,0

In [30]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24300 entries, 0 to 24299
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   open_time                     24300 non-null  object
 1   open                          24300 non-null  object
 2   high                          24300 non-null  object
 3   low                           24300 non-null  object
 4   close                         24300 non-null  object
 5   volume                        24300 non-null  object
 6   close_time                    24300 non-null  object
 7   quote_asset_volume            24300 non-null  object
 8   count                         24300 non-null  object
 9   taker_buy_base_asset_volume   24300 non-null  object
 10  taker_buy_quote_asset_volume  24300 non-null  object
 11  ignore                        24300 non-null  object
dtypes: object(12)
memory usage: 2.4+ MB

## Concatenate all .parquet files into one for each coin

In [5]:
folder_path = 'C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/'

In [31]:
# Function to concatenate parquet files in a folder
def concatenate_parquet_files(folder_path, output_file):
    dfs = []  # List to store DataFrames from each file
    
    for file in os.listdir(folder_path):
        if file.endswith('.parquet'):
            file_path = os.path.join(folder_path, file)
            df = pd.read_parquet(file_path)
            dfs.append(df)
    
    combined_df = pd.concat(dfs, ignore_index=True)
    
    # Save the combined DataFrame to a new parquet file
    combined_df.to_parquet(output_file)
    print(f"Concatenated files saved to: {output_file}")

# Function to process all folders
def process_folders_v2(main_folder_path):
    for folder in os.listdir(main_folder_path):
        folder_path = os.path.join(main_folder_path, folder)
        
        if os.path.isdir(folder_path):
            output_file = os.path.join(folder_path, f"{folder}_combined.parquet")
            concatenate_parquet_files(folder_path, output_file)

In [32]:
folder_path = 'C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/'

In [33]:
process_folders_v2(folder_path)

Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AAVE\AAVE_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ADA\ADA_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ALGO\ALGO_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/APE\APE_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/APT\APT_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ARB\ARB_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ATOM\ATOM_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AVAX\AVAX_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AXS\AXS_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BCH\BCH_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BNB\BNB_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BTC\BTC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/CAKE\CAKE_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/CRV\CRV_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DOGE\DOGE_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DOT\DOT_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DYDX\DYDX_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/EGLD\EGLD_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/EOS\EOS_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ETC\ETC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ETH\ETH_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FIL\FIL_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FLOW\FLOW_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FTM\FTM_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/GALA\GALA_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/GRT\GRT_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/HBAR\HBAR_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ICP\ICP_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/IMX\IMX_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/INJ\INJ_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LDO\LDO_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LINK\LINK_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LTC\LTC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MAGIC\MAGIC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MANA\MANA_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MATIC\MATIC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MKR\MKR_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/NEAR\NEAR_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/NEO\NEO_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/OP\OP_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/QNT\QNT_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/RNDR\RNDR_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/RPL\RPL_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SAND\SAND_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SHIB\SHIB_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SOL\SOL_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/STX\STX_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/THETA\THETA_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/TRX\TRX_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/UNI\UNI_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/VET\VET_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XEC\XEC_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XLM\XLM_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XMR\XMR_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XRP\XRP_combined.parquet
Concatenated files saved to: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XTZ\XTZ_combined.parquet

In [34]:
test = pd.read_parquet(r'C:\Users\ReinisFals\OneDrive - Peero, SIA\Desktop\stat_arb_research\stat_arb_research\data\A_MERGEABLE\AAVE\AAVE_combined.parquet')
test

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,count,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1602730800000,51.43000000,59.00000000,50.66600000,55.60700000,1369.48100000,1602730859999,75607.77901300,361,898.43400000,50012.70048000,0
1,1602730860000,55.603,55.623,52.0,52.845,1120.278,1602730919999,59696.689968,178,658.949,35330.288555,0
2,1602730920000,52.845,52.846,51.283,51.999,466.672,1602730979999,24288.12284,94,185.675,9659.760008,0
3,1602730980000,51.999,52.0,50.665,51.736,205.109,1602731039999,10594.203061,68,78.099,4043.744534,0
4,1602731040000,51.742,51.776,51.5,51.632,310.324,1602731099999,16011.251406,44,174.396,9004.233218,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1422551,1688169300000,70.42,70.48,70.35,70.45,137.566,1688169359999,9687.04126,47,48.426,3410.25362,0
1422552,1688169360000,70.45,70.49,70.38,70.38,82.083,1688169419999,5783.08829,24,0.349,24.59543,0
1422553,1688169420000,70.38,70.41,70.38,70.4,85.018,1688169479999,5984.9842,25,28.818,2028.6072,0
1422554,1688169480000,70.42,70.45,70.42,70.43,37.615,1688169539999,2649.34654,11,5.506,387.84056,0
1422555,1688169540000,70.44,70.54,70.44,70.54,71.723,1688169599999,5055.80922,21,33.072,2330.7768,0

In [35]:
# convert open_time to datetime
test['open_time'] = pd.to_datetime(test['open_time'], unit='ms')
test

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,count,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-10-15 03:00:00,51.43000000,59.00000000,50.66600000,55.60700000,1369.48100000,1602730859999,75607.77901300,361,898.43400000,50012.70048000,0
1,2020-10-15 03:01:00,55.603,55.623,52.0,52.845,1120.278,1602730919999,59696.689968,178,658.949,35330.288555,0
2,2020-10-15 03:02:00,52.845,52.846,51.283,51.999,466.672,1602730979999,24288.12284,94,185.675,9659.760008,0
3,2020-10-15 03:03:00,51.999,52.0,50.665,51.736,205.109,1602731039999,10594.203061,68,78.099,4043.744534,0
4,2020-10-15 03:04:00,51.742,51.776,51.5,51.632,310.324,1602731099999,16011.251406,44,174.396,9004.233218,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1422551,2023-06-30 23:55:00,70.42,70.48,70.35,70.45,137.566,1688169359999,9687.04126,47,48.426,3410.25362,0
1422552,2023-06-30 23:56:00,70.45,70.49,70.38,70.38,82.083,1688169419999,5783.08829,24,0.349,24.59543,0
1422553,2023-06-30 23:57:00,70.38,70.41,70.38,70.4,85.018,1688169479999,5984.9842,25,28.818,2028.6072,0
1422554,2023-06-30 23:58:00,70.42,70.45,70.42,70.43,37.615,1688169539999,2649.34654,11,5.506,387.84056,0
1422555,2023-06-30 23:59:00,70.44,70.54,70.44,70.54,71.723,1688169599999,5055.80922,21,33.072,2330.7768,0

### Quick check for missing values

In [36]:
minutes = (pd.Timestamp('2023-06-30 23:59:00') - pd.Timestamp('2020-10-15 03:00:00')).total_seconds() / 60
minutes

1423979.0

In [37]:
print(f"Number of missing minutes in the dataset: {minutes - len(test)}")

Number of missing minutes in the dataset: 1423.0

## Set Data Types

In [44]:
# Function to set data types, drop columns, and set index for a combined parquet file
def process_combined_parquet_file(combined_file):
    # Read the combined parquet file
    df = pd.read_parquet(combined_file)
    
    # Set 'open_time' column to datetime with unit='ms'
    df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')
    
    # Set rest of the columns to numerical data type
    numeric_columns = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume',
                       'count', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume']
    df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1')) # BUG: volume column sometimes has two dots
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric)
    
    # Drop 'close_time' and 'ignore' columns
    df.drop(['close_time', 'ignore'], axis=1, inplace=True)
    
    # Set 'open_time' as the index
    df.set_index('open_time', inplace=True)
    
    # Save the modified DataFrame back to the combined parquet file
    df.to_parquet(combined_file)
    print(f"Processed file: {combined_file}")

# Function to process all combined parquet files in each folder
def process_folders_v3(main_folder_path):
    for folder in os.listdir(main_folder_path):
        folder_path = os.path.join(main_folder_path, folder)
        
        if os.path.isdir(folder_path):
            combined_file = os.path.join(folder_path, f"{folder}_combined.parquet")
            process_combined_parquet_file(combined_file)

In [45]:
folder_path = 'C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/'

In [46]:
process_folders_v3(folder_path)

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AAVE\AAVE_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ADA\ADA_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ALGO\ALGO_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/APE\APE_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/APT\APT_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ARB\ARB_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ATOM\ATOM_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AVAX\AVAX_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/AXS\AXS_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BCH\BCH_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BNB\BNB_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/BTC\BTC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/CAKE\CAKE_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/CRV\CRV_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DOGE\DOGE_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DOT\DOT_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/DYDX\DYDX_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/EGLD\EGLD_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/EOS\EOS_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ETC\ETC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ETH\ETH_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FIL\FIL_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FLOW\FLOW_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/FTM\FTM_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/GALA\GALA_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/GRT\GRT_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/HBAR\HBAR_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/ICP\ICP_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/IMX\IMX_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/INJ\INJ_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LDO\LDO_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LINK\LINK_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/LTC\LTC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MAGIC\MAGIC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MANA\MANA_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MATIC\MATIC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/MKR\MKR_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/NEAR\NEAR_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/NEO\NEO_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/OP\OP_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/QNT\QNT_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/RNDR\RNDR_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/RPL\RPL_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SAND\SAND_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SHIB\SHIB_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/SOL\SOL_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/STX\STX_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/THETA\THETA_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/TRX\TRX_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/UNI\UNI_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/VET\VET_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XEC\XEC_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XLM\XLM_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XMR\XMR_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XRP\XRP_combined.parquet

C:\Users\ReinisFals\AppData\Local\Temp\ipykernel_14304\1302393740.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df[numeric_columns] = df[numeric_columns].apply(lambda x: x.str.replace(r'\.(\d+)\.', r'.\1'))

Processed file: C:/Users/ReinisFals/OneDrive - Peero, SIA/Desktop/stat_arb_research/stat_arb_research/data/A_MERGEABLE/XTZ\XTZ_combined.parquet

In [48]:
test = pd.read_parquet(r'C:\Users\ReinisFals\OneDrive - Peero, SIA\Desktop\stat_arb_research\stat_arb_research\data\A_MERGEABLE\AAVE\AAVE_combined.parquet')
test

,open,high,low,close,volume,quote_asset_volume,count,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
open_time,,,,,,,,,
2020-10-15 03:00:00,51.430,59.000,50.666,55.607,1369.481,75607.779013,361,898.434,50012.700480
2020-10-15 03:01:00,55.603,55.623,52.000,52.845,1120.278,59696.689968,178,658.949,35330.288555
2020-10-15 03:02:00,52.845,52.846,51.283,51.999,466.672,24288.122840,94,185.675,9659.760008
2020-10-15 03:03:00,51.999,52.000,50.665,51.736,205.109,10594.203061,68,78.099,4043.744534
2020-10-15 03:04:00,51.742,51.776,51.500,51.632,310.324,16011.251406,44,174.396,9004.233218
...,...,...,...,...,...,...,...,...,...
2023-06-30 23:55:00,70.420,70.480,70.350,70.450,137.566,9687.041260,47,48.426,3410.253620
2023-06-30 23:56:00,70.450,70.490,70.380,70.380,82.083,5783.088290,24,0.349,24.595430
2023-06-30 23:57:00,70.380,70.410,70.380,70.400,85.018,5984.984200,25,28.818,2028.607200
2023-06-30 23:58:00,70.420,70.450,70.420,70.430,37.615,2649.346540,11,5.506,387.840560
2023-06-30 23:59:00,70.440,70.540,70.440,70.540,71.723,5055.809220,21,33.072,2330.776800